linux_pos=True
linux_file_config=True
win_pos=True
win_file_config=True
db_config=True
scan_pos=True
caller_id=True
license=True
download_war=True
generate_img=True
random_mail=True
sms=True
email_counter=3
sms_default_ip=192.168.0.50
sms_default_port=8000
tab_order=linux_pos,linux_file_config,db_config,scan_pos,caller_id,win_pos,win_file_config,scan_printer,license,download_war,generate_img,random_mail,sms
scan_printer=True
