linux_pos=False
linux_file_config=False
win_pos=False
win_file_config=False
db_config=True
scan_pos=False
caller_id=False
license=False
download_war=False
generate_img=False
random_mail=False
sms=False
email_counter=3
sms_default_ip=192.168.0.50
sms_default_port=8000
tab_order=linux_pos,linux_file_config,db_config,scan_pos,caller_id,win_pos,win_file_config,scan_printer,license,download_war,generate_img,random_mail,sms
scan_printer=False
